body{
	/* background-color: #202020; */
	margin:0px;
	font-family: Verdana, Geneva, sans-serif;
	/* color: white; */
	font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

h1{
  font-size: 24px;
  line-height: 26px;
}

h2{
  font-size: 18px;
  line-height: 18px;
}

#scorePane{
  display: none;
  padding: 0px;
  overflow-x: auto;
}

#titleBox{
  position: relative;
  height: 20px;
}

.teamID{
	position:absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 50px;
  text-align: center;
}

.teamName{
	position:absolute;
	left: 50px;
	top: 0px;
	height: 100%;
	width: 200px;
  text-align: center;
}

.roundScores{
	position:absolute;
	left: 250px;
	top: 0px;
	height: 100%;
	width: calc(100% - 250px);
  text-align: left;
}

.roundScore{
	display: inline-block;
	/* position: relative; */
	width: 75px;
	height: 100%;
  text-align: center;
}

.score_input{
	width: 60px;
}

#scoreBox
{
	position: relative;
	/* top: 30px; */
	left: 0px;
	/* width: 100%; */
	/* height: calc(100% - 30px); */
	overflow-y: auto;
	overflow-x: hidden;
  padding: 0px;
	/* overflow-y: auto; */
}

.scoreLine{
	position: relative;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	font-size: 16px;
  text-align: center;
  line-height: 30px;
  padding: 0px;
}
